{% extends 'base.html.twig' %}

{% block title %}Alternance index{% endblock %}

{% block body %}
    <h1>Alternance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>AnneeUniversitaire</th>
                <th>TypeContrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alternance in alternances %}
            <tr>
                <td>{{ alternance.id }}</td>
                <td>{{ alternance.created ? alternance.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alternance.updated ? alternance.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alternance.anneeUniversitaire }}</td>
                <td>{{ alternance.typeContrat }}</td>
                <td>
                    <a href="{{ path('alternance_show', {'id': alternance.id}) }}">show</a>
                    <a href="{{ path('alternance_edit', {'id': alternance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('alternance_new') }}">Create new</a>
{% endblock %}
